.app{
    display: flex;
    width: 100%;
}

.logo {
    width: 100%;
    height: 10%;
}
.productDetails{
    width: 100%;
    display: flex;
}

.watchPicture{
    width: 100%;
    height: 75%
}

.watchInfo{
    width: 50%;
}

.SmartWatchThumbnail {
    width: 100%;
    height: 90%;
}

.title {
    font-weight: bold;
    font-size: 2em;
}

.colorSelect {
    font-weight: bold;
}

.watches {
    display: flex;
    width: 50%;

}

.featureButton {
    width: 150px;
    height: 35px;
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
    font-weight: bold;
    border-style: none;
    
}

.featureButton:hover {
    background-color: darkgray;
    color: white;
}
.buyNow {
    width: 150px;
    height: 35px;
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
    font-weight: bold;
    font-size: .9em;
    border-style: none;
    background-color: teal;
    color: white;
}

.watchPicture {
    width: 48%;
}

.watchBand {
    width: 75%;
    height: 80%;
}